html{font-size: 20px;width: 100%;}
body,p{margin: 0;padding: 0;font-family: "微软雅黑";width: 100%;position: relative;}
.main{
	width: 1280px;
	margin: 0 auto;
	overflow: hidden;
}
.maign{
	width: 100%;
}
.logo{

	width: 100%;
	height: 130px;
	margin-top: 30px;
	border-bottom: 1px solid #999;
	box-shadow: 10px 5px 30px #999;
}
.logo >img{

	vertical-align: middle;
	margin-right: 5px;
}
.logo span{
	
	display: inline-block;
	width: 90px;
	height: 25px;
	border-left: 1px solid #0b4999;
	font-size: 1rem;
	color: #023a8d;
	text-align: center;
	line-height: 25px;
}
.tbs{
	padding-left: 40px;
	width: 810px;
	height: 40px;
	background-color: #057cc4;
	border-radius: 10px;
	color: #fff;
	font-size: 1.2rem;
	line-height: 40px;
}
.tbs h3{
	margin-left: 40px;
	font-size: 1.2rem;
	
}
.tbs p{
	margin-left: 40px;
	line-height: 40px;
}
.shadow{
	box-shadow: 10px 10px 20px #999;
	border-radius: 10px;
}
.left{
	float: left;
	margin-left: 50px;
	box-shadow: 10px 10px 10px #999;
	border-radius: 10px;
	background-color: #eee;

}
.leftt{
	float: left;
	margin-left: 58px;
}
.left.add{

	margin-left: 58px;
}
.right{
	float: left;
	margin-left: 25px;
}
.right.add{
	background-color: #eee;
	box-shadow: 10px 10px 10px #999;
	border-radius: 10px;
	width: 850px;
	height: 404px;
	margin-left: 40px;
	margin-top: 25px;
}
.text{

}
.text span {
	display: inline-block;
	
	margin-left: 524px;
	font-size: .6rem;
	color: #999;
}
.text h3{
	margin-left: 40px;
	font-size: .9rem;
	color: #023a8d;
}
.text p{
	margin-left: 40px;
	font-size: 0.6rem;
	color: #999;

}
.jieshao{
	padding-left: 40px;
	background-color: #057cc4;
	height: 40px;
	color: #fff;
	font-size: .9rem;
	border-radius: 10px;
}
.show{
	border-radius: 10px;
	box-shadow: 10px 10px 10px #999;
	position: relative;
	float: left;
	width: 850px;
	height: 404px;
	background-color: #eee;
	margin-top: 35px;
	margin-left: 58px;
	margin-bottom: 50px;
}
.show img{
	position: absolute;
	top: 65px;
	left: 35px;
	font-size: .9rem;
	color: #999;
}
.show p{
	margin-top: 35px;
	margin-left: 384px;
	color: #999;
}
.show span{
	display: inline-block;
	margin-top: 5px;
	font-size: .6rem;

}
.news{
	width: 237px;
	height: 40px;
	background-color: #057cc4;
	border-radius: 10px;
	padding-left: 40px;
	color: #fff;
	line-height: 40px;

}
.shadow >span{
	display: inline-block;
	margin-top: 20px;
	margin-left: 40px;
	font-size: .9rem;
	color: #999;
}
.shadow p{
	margin-left: 40px;
	font-size: .6rem;
	color: #999;
	padding-bottom: 10px;
}

.transport{
	height: 150px;
	
	border-radius: 5px;
	background-color: #eee;
	font-size: .9rem;
	color: #999;
	
}
.back{
	width: 850px;
}
.point span{
	display: inline-block;
	margin-top: 15px;
	font-size: .9rem;
	color: #999;
}
.point >img{
	
	vertical-align: middle;
	margin-left: 40px;
	margin-right: 7px;
}
.bottom{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 58px;
	background-color: #057cc4;
	font-size: .6rem;
	color: #fff;
}
.bottoma{
	margin-top: 30px;
	width: 100%;
	height: 58px;
	background-color: #057cc4;
	font-size: .6rem;
	color: #fff;
}
.bottoma p{
	text-align: center;
	line-height: 58px;
}
.bottom p{
	text-align: center;
	line-height: 38px;
}
.point{

}
.rtst{
	margin-left: 60px;
	position: relative;
	width: 1163px;
	height: 471px;
	overflow: hidden;
	
}
.font{
	position: absolute;
	top: 80px;
	left: 743px;
	z-index: 2;
	font-size: 2.4rem;
	color: #057cc4;
}
.logo_left{

	float: left;
	color: #999;
	
}
.logo_right{
	float: left;
	margin-left:100px;
}
.logo_right p{
	font-size: .6rem;
	color: #999;
	
}
.logo_right h3{
	color: #999;
	font-size: .9rem;

}
.icona{
	
	position: relative;
	color: #999;
}
.icona img{
	position: absolute;
	top: 0;
	left: 50px;
}
.icona p{
	font-size: .6rem;
	margin-left: 200px;
}
.icona h4{
	margin-left: 200px;
	font-size: .9rem;
}
.list-left{
	box-shadow: 10px 10px 10px #999;
	border-radius: 10px;
	float: left;
	width: 850px;
	height: 498px;
	background-color: #eee;
	margin-left: 58px;
}
.spare{
	width: 800px;
	height: 40px;
	font-size: .9rem;
	color: #fff;
	padding-left: 50px;
	line-height: 40px;
	background-color: #057cc4;
	border-radius: 10px;
}
.spare-s{
	height: 91.6px;
	width: 100%;

}
.spare-s p{
	font-size: .6rem;
	color: #999;
	margin-left: 50px;
	margin-top: 12px;
}

.spare-s span{
	font-size: 0.6rem;
	margin-left: 620px;
	color: #999;
}
.list-right{

	float: left;
	background-color: #eee;
	height: 498px;
	margin-left: 30px;
}
.xwdt{
	padding-left: 50px;
	height: 40px;
	width: 227px;
	border-radius: 10px;
	background-color: #057cc4;
	color: #fff;
	font-size: .9rem;
	line-height: 40px;
}

.spear-d{
	width: 277px;
	height: 188px;
	box-shadow: 10px 10px 10px #999;
	border-radius: 10px;
}
.list-text h2{
	margin-left: 40px;
	font-size: .9rem;
	color: #999;

}
.list-text p{
	margin-left: 40px;
	font-size: .6rem;
	color: #999;
}